apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{APPLIANCE}}-sensor
  namespace: {{NAMESPACE}}
spec:
  replicas: 0
  template:
    metadata:
      labels:
        app: {{APPLIANCE}}-sensor
    spec:
      nodeSelector:
        appliance: {{APPLIANCE}}
      imagePullSecrets:
        - name: quay.io
      hostNetwork: true
      containers:
        - name: bro
          image: quay.io/darkcubed/bro:v24.0
          imagePullPolicy: IfNotPresent
          env:
            - name: IFACE
              value: {{IFACE}}
          volumeMounts:
            - name: bro-spool
              mountPath: /opt/bro/spool/bro
          resources:
            requests:
              memory: "2G"
            limits:
              memory: "4G"
        - name: localstash
          image: quay.io/darkcubed/localstash:v24.0
          imagePullPolicy: IfNotPresent
          env:
            - name: SENSOR_NAME
              value: {{SENSOR}}
            - name: OUTPUTS_HTTP_URL
            value: http://{{URL}}:9997/job
            - name: {{INPUTS}}
              value: enabled
          volumeMounts:
            - name: bro-spool
              mountPath: /usr/local/bro/spool/bro
        - name: groundskeeper
          image: quay.io/darkcubed/hyperdark:v24.0
          imagePullPolicy: IfNotPresent
          args:
            - --log-level=debug
            - groundskeeper
            - --sleep=10s
          env:
            - name: HOST_PROC
              value: /rootfs/proc
          ports:
            - containerPort: 9990
              hostPort: 9990
          volumeMounts:
            - name: host-root
              mountPath: /rootfs
              readOnly: true
        - name: statsite
          image: quay.io/darkcubed/statsite:v24.0
          imagePullPolicy: IfNotPresent
          args:
            - statsite
            - -f
            - /etc/statsite.blackbox.conf
          ports:
            - containerPort: 8125
              hostPort: 8125
              protocol: UDP
          env:
            - name: BLACKBOX_TIMEOUT
              value: 5s
            - name: CUSTOMER_ID
              value: {{APPLIANCE}}
            - name: K8S_NAMESPACE
              value: default
            - name: BLACKBOX_ENDPOINT
              value: https://prod.deception.a.darkcubed.net
      volumes:
        - name: bro-spool
          emptyDir: {}
        - name: host-root
          hostPath:
            path: /
