apiVersion: v1
kind: Secret
metadata:
  name: quay.io
  namespace: {{NAMESPACE}}
type: kubernetes.io/dockercfg
data:
  .dockercfg: ewogInF1YXkuaW8iOiB7CiAgImF1dGgiOiAiWkdGeWEyTjFZbVZrSzNCMWJHeGxjanBDVmtvM01VcExTamhMUnpkU1dUTTVTVGxaUjBaT1RUZzRORTA0UlU1S01FczJTekkzVDBvMVUxRlpWMU5UTlZSSE4xVkVXVk00UlVWWlRVUlhValpCIiwKICAiZW1haWwiOiAiIgogfQp9
