apiVersion: batch/v1
kind: Job
metadata:
  name: postgres-backup-{{APPLIANCE}}
  namespace: {{NAMESPACE}}
spec:
  template:
    metadata:
      name: postgres-backup-{{APPLIANCE}}
    spec:
      nodeSelector:
        appliance: {{APPLIANCE}}
      containers:
        - name: postgres-backup-{{APPLIANCE}}
          image: busybox
          command: ["tar", "-zcf", "/tmp/home/core/postgres-backup.tar.gz", "/tmp/opt/darkcubed/postgres/"]
          volumeMounts:
            - name: postgres-tmp
              mountPath: /tmp/opt/darkcubed
            - name: home-tmp
              mountPath: /tmp/home/core
      restartPolicy: Never
      volumes:
        - name: postgres-tmp
          hostPath:
            path: /opt/darkcubed
        - name: home-tmp
          hostPath:
            path: /home/core
